
    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>
            
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
    
            <!-- Main Content -->
            <div id="content">
    
                <app-topbar></app-topbar>
                
                
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="container">
                                
                        <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Estudiantes</h1>
                                <button (click)="irAgregar()" type="button" class="btn btn-primary" style="cursor: pointer">                                    
                                    Registrar Estudiante
                                </button>
                            </div>
    
                            <!-- Content Row -->
                            <table class="table table-bordered">
                                <thead>
                                    <tr>               
                                                               
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Apellido Paterno</th>
                                        <th scope="col">Apellido Materno</th>
                                        <th scope="col">Dirección</th>  
                                        <th scope="col">Edad</th>
                                        <th scope="col">Rut</th>   
                                        <th scope="col">CV</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Teléfono</th>                                 
                                        <th scope="col">Modificar</th> 
                                        <th scope="col">Eliminar</th> 
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let estudianteElemento of estudiantes; let i = index">
                                            
                                            <td>{{ estudianteElemento.nombres }}</td>
                                            <td>{{ estudianteElemento.apellidoP }}</td>
                                            <td>{{ estudianteElemento.apellidoM }}</td>
                                            <td>{{ estudianteElemento.direccion }}</td>
                                            <td>{{ estudianteElemento.edad }}</td>
                                            <td>{{ estudianteElemento.rut }}</td>
                                            <td>{{ estudianteElemento.cverificacion }}</td>
                                            <td>{{ estudianteElemento.email }}</td>
                                            <td>{{ estudianteElemento.telefono }}</td>
                                            <td><button type="submit" class="btn btn-info"> <a [routerLink]="['/estudiante',i]" [queryParams]="{modoEdicion:'1'}"> Modificar </a> </button> </td>
                                            <td><button type="submit" style="cursor: pointer" (click)="onEliminarPersona(i)" class="btn btn-danger"> Eliminar </button></td>
                                 
                                         
                                    </tr>            
                                </tbody> 
                            </table>    


                    </div>

                </div>
                <!-- /.container-fluid -->
    
            </div>
            <!-- End of Main Content -->
    
            

            <app-footer></app-footer>
    
            </div>
            <!-- End of Content Wrapper -->
    
        </div>
        <!-- End of Page Wrapper -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    