
    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>
            
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
    
            <!-- Main Content -->
            <div id="content">
    
                <app-topbar></app-topbar>
                
                
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="container">
                                
                        <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Estudiantes</h1>
                                <button (click)="irAgregar()" type="button" class="btn btn-primary" style="cursor: pointer">                                    
                                    Registrar Estudiante
                                </button>
                            </div>
    
                            <!-- Content Row -->
                            <table class="table table-bordered">
     
                                <tbody>
                                    <app-estudiante-listado
                                            *ngFor="let estudianteElemento of estudiantes; let i = index"
                                            [estudiante]="estudianteElemento"
                                            [indice]="i">     
                                    </app-estudiante-listado>
                                </tbody> 
                            </table>    


                    </div>

                </div>
                <!-- /.container-fluid -->
    
            </div>
            <!-- End of Main Content -->
    
            

            <app-footer></app-footer>
    
            </div>
            <!-- End of Content Wrapper -->
    
        </div>
        <!-- End of Page Wrapper -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    